{%- set navbar = '/navbars/navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    <div class="main-container">
        <div class="row">
            <div class="container text-center text--secondary text--lighten-5 mt-4 mb-4">
                <h5><></h5>
            </div>
        </div>
        <div class="row">
            <div class="container front-app text-center text-white">
                <h4>Front-end App</h4>
                <div id="app"></div>
            </div>
        </div>
    </div>

{% endblock %}
