{%- set navbar = '/navbars/navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    <div class="main-container">
        <div class="row">
            <div class="container text-center text-white">
                <h3>Back-end Application Frame</h3>
            </div>
        </div>
        <div class="row">
            <div class="container front-app text-center text-white">
                <h4>Front-end Application View</h4>
                <div id="app"></div>
            </div>
        </div>
    </div>

{% endblock %}
