{%- set navbar = '/navbars/navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    <div class="main-container">
        <div class="row">
            <div class="container bg-dark text-center text-white">
                <h3>Application Frame</h3>
            </div>
        </div>
        <div class="row">
            <div class="container bg-info text-center p-5">
                <div id="app"></div>
            </div>
        </div>
    </div>

{% endblock %}
