@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vuetify/dist/vuetify.min.css';
@import '~vue-select/src/scss/vue-select.scss';
@import '~@mdi/font/css/materialdesignicons.css';
@import 'vuenavbar';
html{
    scroll-behavior: smooth;
}
.main-container{
    background: #1ea471;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2em;
    padding-right: 2em;
}
.front-app{
    background: rgba(208, 81, 97, 0.9);
    box-shadow: 0 0 5px 5px #524c4c;
}

[v-cloak] { display: none; }
