{%- set navbar = '/navbars/navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    <div class="main-container">
        <div class="row">
            <div class="container front-app text-center text-white mt-5">
                <h4>VueJS App</h4>
                <div id="app"></div>
            </div>
        </div>
    </div>
{% endblock %}
